<div class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    
    <a href="/">
        <img src="images/bemmais.png" width="136" height="136" alt="Bem mais sorvetes">
    </a>
   
</div>