/*
    Css
*/

.blue{
    background-color: dodgerblue;
}

.d-flex{
    padding-top: 4em;
}

.user{
    padding-left: 3em;
}

#form_cad_cliente{
  display: none;
}

.titulo_cadastro{
	text-align: center;
	font-size: 50px;
	color: #fff;
}

.card-menu{
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-title{
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.card-menu-nav ul{
  display: flex;
  flex-wrap: wrap;
}

.card-menu-nav ul li{
  list-style: none;
  padding: 5px;
}

.card-menu-nav a{
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.card-menu-nav a:hover{  
  background: green;
}

a {
  text-decoration: none;
}
/* The Modal (background) */
.modal {
	display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.form_pedidos{
  display: flex;
  flex-wrap: wrap;
}


.btn-open:hover {
    opacity: 0.8;
}

.btn-open{
    width: 20rem;
    margin-top:2rem;
    margin-left: 1em;
    margin-bottom: 2em;
}


* The Close Button (x) */
.close {
    position: absolute;
    right: 25rem;
    top: 0;
    color: #000;
    font-size: 45px;
    font-weight: bold;
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 60%;
	padding-bottom: 30px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.user-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*Produto*/
#form_cad_produto{
  display: none;
}

.botoes{  
  flex-wrap: wrap;  
}

/*Paginas de pedidos*/
.add-pedidos{  
  flex-wrap: wrap;
}

